body {
  background-color: rgb(255, 170, 223);
  padding-right: 300px;
}

h1, h2 {
  text-align: center;
}

.note {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.under {
  text-decoration: underline;
}

.cross {
  text-decoration: line-through;
}

.menu {
  border : 2px dotted rgb(255, 0, 170);
}

.menu li > ul {
  background-color: rgba(255, 255, 0, 0.5);
  color: rgb(1, 100, 34);
}

.main-menu {
  position: fixed;
  right: 0;
}