body {
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.card {
  width: 1009px;
  padding: 64px 47px;
  margin: 0 auto;
  margin-top: 86px;
  background-color: #fff;
  border: 1px solid #ebebeb;
}

.image, .content {
  display: inline-block;
  vertical-align: middle;
}

.image {
  width: 375px;
  height: 375px;
  background: url("../img/headphone.jpg") no-repeat;

}

.content {
  width: 410px;
  min-height: 330px;
  margin-left: 99px;
}

h1 {
  font-size: 22.5px;
}

.description {
  font-size : 15px;
}

.price {
  margin-top: 50px;
  font-size: 15px;
}

.cost {
  margin-top: 18px;
  font-size: 30px;
  margin-bottom: 0;
}

.backet {
  display: inline-block;
  margin-top: 55px;
  padding: 16px 38px;
  color: #fff;
  font-size: 18.75px;
  text-decoration: none;
  background-color: #ec744a;
}