body {
  font-family: sans-serif;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    width: 92%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 600px;
    widows: 95%;
  }
}

@media (max-width: 567px) {
  .container {
    width: 450px;
  }
}

@media (max-width: 320px) {
  .container {
    width: 277px;
  }
}

.btn {
  border-radius: 10px;
  background-color: #ffd200;
  border: none;
  padding: 18px 30px;
}

.navbar {
  margin-top: 7px;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logomin {
  display: none;
}

.navbar__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__content {
  text-align: right;
}

.navbar__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

.navbar__phone {
  display: inline-block;
  margin-top: 10px;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.navbar__button {
  margin-left: 30px;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .navbar__content {
    display: none;
  }
}

@media (max-width: 567px) {
  .navbar__button {
    font-size: 11px;
    padding: 16px 28px;
  }
}

@media (max-width: 320px) {
  .navbar {
    margin-top: 17px;
  }
  .navbar__logomin {
    display: block;
  }
  .navbar__button {
    font-size: 10px;
    padding: 14px 26px;
    border-radius: 5px;
    margin-right: 3px;
  }
  .main-logo {
    display: none;
  }
}

.hero {
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 52px;
}

.hero-text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  padding-right: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-text__title {
  margin-top: 35px;
  color: #333333;
  font-size: 41px;
  font-weight: 400;
  line-height: 55px;
  margin-bottom: 15px;
}

.hero-text__subtitle {
  display: block;
  color: #333333;
  font-size: 20px;
  font-weight: 400;
  line-height: 65px;
  margin-bottom: 45px;
}

.hero .hero-list {
  list-style: none;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.hero .hero-list__item {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .hero-list__text {
  display: inline-block;
  max-width: 300px;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 30px;
}

.hero .hero-list__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 36px;
      flex-basis: 36px;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 2px solid #ffd200;
}

.hero-image {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 1200px) {
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 50px;
  }
  .hero-text {
    padding-right: 10px;
  }
}

@media (max-width: 768px) {
  .hero-text-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .hero-text-subtitle {
    font-size: 16px;
    margin-bottom: 25px;
  }
  .hero-list__text {
    font-size: 12px;
    margin-left: 20px;
  }
  .hero-list__item {
    margin-bottom: 17px;
  }
  .hero-image img {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */